#not commiting my api key again
*.env

#so I don't clutter the source with the outputs
*.png

#rather not temp the license holder for the site I downloaded the font from
*.ttf

#don't clutter up the repository with unnecessary files
__pycache__/
*.pyc